.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  font-size: 15px;
  font-weight: 500;

  z-index: 1000;

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .logo img {
    width: 28px;
    height: 28px;
  }

  .nav-item {
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 4px;
  }

  .nav-item:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  .nav-icon img {
    width: 18px;
  }

  .datetime {
    font-weight: 500;
    font-size: 1rem;
  }
}
